ion-slides {
  height: 100%;
}

h1 {
text-align: left;
}

ion-slide {
  width: 100%;
  align-items: unset;
}

.slideItem {
margin-top: 50%;
}

ion-item {
  display: block;
}

ion-card {
  min-width: 95%;
}


.footerButton {
  width:50%;
}

