  <ion-header>
    <ion-toolbar>
      <ion-title>Taak aanmaken</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen class="ion-padding">
  

  <h1>Wat voor soort taak wil je maken?</h1>

  <ion-item>
    <ion-select [(ngModel)]="taskSelection" name="task-Selection" placeholder="Selecteer categorie taak">
      <ion-select-option value="repair">Reparatie</ion-select-option> 
      <ion-select-option value="general">Algemeen</ion-select-option> 
    </ion-select>

  </ion-item>
        
    
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-button expand="full" (click)="goToCreateTaskPage()">
        Volgende
      </ion-button>
      
      <!-- <ion-button disabled expand="full" (click)="goToCreateRepairTask()">
      Reparatie
      </ion-button> -->

      
    </ion-toolbar>
  </ion-footer>