  <ion-header>
    <ion-toolbar>
      <ion-title>Taak aanmaken</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    
    <section class="full-width">
      
      <ion-button expand="full" (click)="goToCreateGeneralTaskPage()">
        Algemeen
      </ion-button>
      
      <ion-button disabled expand="full" (click)="goToCreateRepairTask()">
      Reparatie
      </ion-button>
      </section>
      
        
    
  </ion-content>
