<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="loginUser(form)">
    <div>
      <ion-item>
        <ion-input name="email" type="email" placeholder="E-mail adres" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="password" type="password" placeholder="Wachtwoord" ngModel required></ion-input>
      </ion-item>
    </div>
    <div style="text-align: center; margin: auto;">
      <ion-button type="submit" [disabled]="form.invalid">Inloggen</ion-button>
    </div>
  </form>
    <div style="text-align: center; margin: auto;">
      <h6 (click)="navigateToReset()">Wachtwoord vergeten?</h6>
      <h6 (click)="navigateToSignUp()">Registeren</h6>
    </div>
</ion-content>
