<ion-header>
  <ion-toolbar>
    <ion-title>Algemene taak</ion-title>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true" [options]="slideOpts" #slider (ionSlideWillChange)="slideChanged()">
    <ion-slide>
      <div class="slide">
        <h1>Welke titel geef je deze taak?</h1>
        <ion-item>
          <ion-input class="ion-text-wrap" placeholder="Vul een bijpassende titel in" [(ngModel)]="task.title">
          </ion-input>
        </ion-item>

      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide2">
        <h1>Wat is de achternaam van de klant?</h1>
        <ion-item>
          <ion-input placeholder="Vul de achternaam van de klant in" [(ngModel)]="task.costumerSurName"></ion-input>
        </ion-item>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide3">
        <h1>Op welke dag moet de taak klaar zijn?</h1>
        <ion-item>
          <ion-input placeholder="Vul de datum in" [(ngModel)]="task.deadlineDay"></ion-input>
        </ion-item>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide4">
        <h1>Hoelaat moet de taak klaar zijn?</h1>
        <ion-item>
          <ion-input placeholder="Vul de tijdstip in" [(ngModel)]="task.deadlineTime"></ion-input>
        </ion-item>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide5">
        <h1>Wat is de beschrijving voor deze taak?</h1>
        <ion-item>
          <ion-textarea rows="4" placeholder="Vul een beschrijving van werkzaamheden in" [(ngModel)]="task.description">
          </ion-textarea>
        </ion-item>
      </div>
    </ion-slide>
    <ion-slide>
    
    </ion-slide>
  </ion-slides>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" class="footerButton" color="primary" (click)="swipePrev()" slot="start">Vorige
    </ion-button>
    <ion-button expand="full" class="footerButton" color="primary" (click)="swipeNext()" slot="end">Volgende
    </ion-button>
  </ion-toolbar>
</ion-footer>