<ion-header>
  <ion-toolbar>
    <ion-title>Algemene taak</ion-title>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
    <ion-input placeholder="Vul een bijpassende titel in" [(ngModel)]="task.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Vul de achternaam van de klant in" [(ngModel)]="task.costumerSurName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Vul de datum in" [(ngModel)]="task.deadlineDay"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Vul de tijdstip in" [(ngModel)]="task.deadlineTime"></ion-input>
  </ion-item>
  <ion-item>
    <ion-textarea rows="4" placeholder="Vul een beschrijving in" [(ngModel)]="task.description"></ion-textarea>
  </ion-item>
</ion-list>
<ion-button expand="full" (click)="addTask()">Toevoegen</ion-button>
</ion-content>
