ion-slides {
    height: 100%;
  }

h1 {
text-align: left;
}

ion-slide {
    width: 100%;
    align-items: unset;
}

ion-item {
    margin-top: 50%;
}

.footerButton {
    width:50%;
}

ion-card {
    width:80%;
}

