<ion-header>
  <ion-toolbar>
    <ion-title>{{task.title}}</ion-title>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
  
   
   <ion-card>
     <ion-card-header>
  <ion-card-title>{{task.title}}</ion-card-title>

   
  <ion-card-subtitle>{{task.costumerSurName}}</ion-card-subtitle>
</ion-card-header>

    <ion-card-content>
      <ion-list>

        <ion-item>
          <ion-textarea>Taak omschrijving: {{task.description}}</ion-textarea>
        </ion-item>

      <ion-item>
    <ion-textarea>Moet klaar zijn voor: {{task.deadlineDay}}, {{task.deadlineTime}}</ion-textarea>
      </ion-item>

  <ion-item>
    <ion-label>Gemaakt door:{{task.createdBy}}</ion-label>
  </ion-item>
 
    <ion-item>
    <ion-label>Opgepakt door:{{task.assignedTo}}</ion-label>
  </ion-item>


</ion-list>
</ion-card-content>
  
</ion-card>
  

  
  
  <div *ngIf="!task.assignedTo">
    <ion-button expand="full" (click)="assignTask()">Oppakken</ion-button>
    </div>

  <ion-button expand="full" (click)="shareWhatsApp()">Delen</ion-button>
  
  
  <ion-button expand="full" (click)="deleteTask()">Verwijderen</ion-button>

</ion-content>
