<ion-header>
  <ion-toolbar>
    <ion-title>{{task.title}}</ion-title>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>




  <ion-card>
    <ion-card-header>
      <ion-card-title>{{task.title}}</ion-card-title>
      <ion-card-subtitle>{{task.costumerSurName}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-label>
          <h3>Taak omschrijving:</h3>
          <p> {{task.description}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h3>Moet klaar zijn op:</h3>
          <p> {{task.deadlineDay}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h3>Tijdstip:</h3>
          <p> {{task.deadlineTime}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h3>Gemaakt door:</h3>
          <p> {{task.createdBy}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h3>Opgepakt door:</h3>
          <p> {{task.assignedTo}}</p>
        </ion-label>
      </ion-item>

    </ion-card-content>

  </ion-card>


  <div *ngIf="!task.assignedTo">
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button color="success" (click)="shareTask()">
        <ion-icon size="large" name="logo-whatsapp"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>



</ion-content>

<ion-footer>
  <ion-toolbar>
    <ng-container *ngIf="!task.assignedTo">
      <ion-button expand="full" slot="end" class="footerButton" (click)="assignTask()">Oppakken</ion-button>
    </ng-container>
    <ng-container *ngIf="canComplete">
      <ion-button expand="full" slot="end" class="footerButton" color="success" (click)="finishTask()">Afronden
      </ion-button>
    </ng-container>
    <ion-button color="danger" slot="start" class="footerButton" expand="full" (click)="deleteTask()">Verwijderen
    </ion-button>
  </ion-toolbar>

</ion-footer>