<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <div class="header-logo">
    <img src="./assets/img/logo-side.png">
    </div>
    <ion-buttons slot="start">
      <ion-menu-button menu="custom"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="text-align: center;">
  <ion-list mode=“ios” lines=“none”>
    <ion-list-header style="margin-top: 16px;">
      <h1>Tasks</h1>
    </ion-list-header>
    <ng-container *ngIf="(tasks | async)?.length else noTasks">
      <ion-item class="task-item" mode="ios" lines="none" *ngFor="let task of (tasks | async) | assignedTo : false ">
        <ion-label class="ion-text-wrap">
          <h2>{{task.title}}</h2>
          <h4>{{task.costumerSurName}}</h4>
          <p><ion-icon name="person-outline"></ion-icon> {{task.createdBy}}</p>
        </ion-label>
        <ion-button slot="end" fill="clear" [routerLink]="'/view-task/'+task.id"><ion-icon size="large" name="chevron-forward-outline"></ion-icon></ion-button>
      </ion-item>
    </ng-container>
    <ng-template #noTasks>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <p>Er zijn momenteel geen taken die opgepakt moeten worden</p>
        </ion-label>
      </ion-item>
    </ng-template>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <h1>Doing</h1>
    </ion-list-header>
    <ion-item mode="ios" class="task-item" lines="none" *ngFor="let task of (tasks | async) | assignedTo : true | isCompleted: false">
      <ion-label class="ion-text-wrap">
        <h2>{{task.title}}</h2>
        <h4>{{task.costumerSurName}}</h4>
        <p><ion-icon name="person-outline"></ion-icon> {{task.createdBy}}</p>
        <p><ion-icon name="flash-outline"></ion-icon> {{task.assignedTo}}</p>
      </ion-label>
      <ion-button slot="end" fill="clear" [routerLink]="'/view-task/'+task.id"><ion-icon size="large" name="chevron-forward-outline"></ion-icon></ion-button>
    </ion-item>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="goToCreateTaskPage()">
      <ion-icon size="large" name="add-circle-outline" id="addTaskIcon"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button [routerLink]="'/target/'" expand="full" fill=clear class="footerButton" slot="start">
      <ion-icon color="primary" size="large" name="trophy-outline"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="'/completed-tasks/'" expand="full" fill=clear class="footerButton" slot="end">
      <ion-icon color="primary" size="large" name="checkmark-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>