<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;"> Taken </ion-title>
      <ion-buttons slot="start">
        <ion-menu-button menu="custom"></ion-menu-button>
      </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" style="text-align: center;">
  <ion-list>
    <ion-list-header style="margin-top: 16px;">
      To Do
    </ion-list-header>  
    <ion-item *ngFor="let task of (tasks | async) | assignedTo : false">
    <ion-label>
      <h2>{{task.title}}</h2>
      <p>{{task.content}}</p>
    </ion-label>
    <ion-button fill="outline" slot="end" [routerLink]="'/view-task/'+task.id">Bekijken</ion-button>
  </ion-item>
</ion-list>



<ion-list>
  <ion-list-header style="margin-top: 16px;">
    Doing
  </ion-list-header>  
  <ion-item *ngFor="let task of (tasks | async) | assignedTo : true">
  <ion-label>
    <h2>{{task.title}}</h2>
    <p>{{task.content}}</p>
  </ion-label>
  <ion-button fill="outline" slot="end" [routerLink]="'/view-task/'+task.id">Bekijken</ion-button>
</ion-item>
</ion-list>

 

</ion-content>
  <ion-footer style="text-align: center;">
      <ion-icon name="add-circle-outline" class="add-task-button" (click)="goToCreateTaskPage()" style="text-align: center;"></ion-icon>
  </ion-footer>


